.main {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    border: solid 3px gray;
    border-radius: 10px;
    position: relative;
    min-height: 760px;
  }
  
  h1 {
    font-weight: bold;
    font-size: 80px;
    color: rgba(0, 0, 0, 0);
    text-shadow: 3px 3px 0 rgb(221, 140, 85);
    -webkit-text-stroke: 1px #888;
  }
  h2 {
    font-weight: bold;
    font-size: 80px;
    color: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px 0 #6a55dd;
    -webkit-text-stroke: 1px #888;
  }

  .main p {
    position:absolute;
    text-align:center;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: red;
    font-size: 300px;
    font-weight: bold;
  }

  .question {
    margin-bottom: 10px;
    margin-top: 20px;
  }  
  .choices {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .next {
    width: 200px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
    cursor: pointer;
    font-size: 40px;
    padding:10px;
  }
  .next:hover {
    opacity: 0.5;
  }
  
  .result {
    margin: 30px auto;
    width: 90%;
    border: 3px solid gray;
    border-radius: 10px;
    text-align: center;
    font-size: 60px;
  }
  .result-list ul {
    padding: 0;
  }
  .result-list li {
    list-style-type: none;
    display: inline-block;
    min-width: 30%;
    max-width: 30%;
    font-size: 150px;
  }
  